{% extends "base.html" %}

{% block title %}
  Job - {{ job.name }}
{% endblock %}

{% block body %}
  <div class="jumbotron">
     <div class="container">
   </div>
     <h2>{{ job.name }}</h2>
     <p>{{salary_low}}-{{salary_high}}  经验{{ job.experience_requirement }} {% if job.experience_requirement != '不限' %}年{% endif %}  学历{{ job.degree_requirement }} 
     </p>

     {% for tag in job.tag_list %}
     <span class="label label-default">{{ tag }}</span>
     {% endfor %}
     <div style="width:100px;display:inline;float:right;">
            {% if not current_user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{{ url_for('front.login') }}" role="button">Deliver</a>
            {% else %}
            <a class="btn btn-primary btn-lg" href="#" role="button">Deliver</a>
            {% endif %}
     </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Job description:</h3>
      <p>{{ job.name }}</p>
    </div>

    <div class="col-md-4">
      <div class="container">
      </div>
      <h3>{{ job.company.name }}</h3>
      <div class="media">
        <div class="media-left">
        <a href="#">
          <img class="media-object" src="" alt="64x64">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ job.company.detail.description }}</h4>     
    </div>
  </div>
      <div class="list-group">
      {% for job in newest_companies_jobs %}
      <a class="list-group-item" href="#">
        <span>{{ job.name }}</span>
      </a>
      {% endfor %}
    <p class="list-more">
    <a href="#" class="btn-group btn-group-justified">查看更多</a>
    </p>
    </div>

  </div>
{% endblock %}

